body {
  background-color: #dfdede; }

h1 {
  background-color: green; }

header {
  background-color: #4285f4; }
  header nav {
    text-align: center; }
    header nav a {
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      header nav a:hover {
        color: yellow; }
  header div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2e2e0a; }
