$color: green;

header{
    background-color: $color;
    nav{
        text-align: center;
        a{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            &:hover{
                color: yellow;
            }
        }
    }
    div p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 
}
